  <tr>
    <td><%= user.last_name %></td>
    <td><%= user.first_name %></td>
    <td><%=user.email%></td>
    <td><%=user.name%></td>
    <td><%= link_to "Profil", user %></td>
    <td><%= link_to "Edytuj", edit_user_path(user) %></td>
    <td><%= link_to "Usuń", user, method: :delete, data: { confirm: "Usunąć użytkownika #{user.name}?" } %></td>
  </tr>