<% provide(:title, 'Lista') %>
<h1>Lista użytkowników</h1>

<%= will_paginate %>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= sortable "last_name", "Nazwisko" %></th>
      <th><%= sortable "first_name", "Imię" %></th>
      <th><%= sortable "email", "Adres e-mail" %></th>
      <th><%= sortable "name", "Nazwa użytkownika" %></th>
      <th>Profil</th>
      <th>Edytuj</th>
      <th>Usuń</th>
    </tr>
  </thead>
  <%= render @users %>
</table>

<%= will_paginate %>